h1 {
    color: rgb(214, 75, 20);
    text-align: center; font-family: 'Courier New', Courier, monospace;
  }
h4 {
    color:blueviolet;
    text-align: left; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: oblique; line-height: 0px;
}
body {
 font-size: 15px; font-style: unset; font-family: Arial, Helvetica, sans-serif;
}
html{
 background: local;
}
.CLICK-HERE {
font-size: large;
color: #ff0000;

}
.me {
  color: rgb(0, 0, 0);
}
#line2{
  color:hsl(83, 89%, 39%);
}
img {
  float: right;
  background-color: azure;
}
.proin {
  text-align: left;
  background-color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) and (max-width: 1920px) {
  body {
      background-color: azure;
      
  }
}
@media screen and (min-width: 1921px) {
body {
  background-color:#ff0606;
}

}
